<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>NTL Diario</title>
  <style type="text/css">
    body, td { color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial; }
    .divider { background-color:#555555; height:2px; }
    .episode h2 { margin-top:0; margin-bottom:8px; font-size:18px; }
    .episode p { margin:8px 0; }
    .episode img { border:solid 1px #777777; }
    .episode .duration { font-size:11px;color:#555555; }
    #footer { font-size:11px; color:#555555; }
    #footer a { color:#555555;}

  </style>
</head>
<body>

<div class="hidden-xs"  id="googlemaps" style="margin-top: -15px">
  <div id="map-canvas"></div>
</div>

<table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
  <tr><td align="center" valign="top">
    <table width="650" id="main" border="0" cellpadding="0" cellspacing="20">
      <tr>
        <td >
          <h2>Estádisticas de NTL</h2>
        </td>
      </tr>
      <tr>
        <td>
          <ul>
            <p>Ayer:</p>
            <li><%= User.where('sign_in_count > ?', 0).where('updated_at > ?' , Date.yesterday.to_time.in_time_zone("Central Time (US & Canada)") ).count  %>--- Logins  </li>
            <li><%=	Location.where('updated_at > ?' , Date.yesterday.to_time.in_time_zone("Central Time (US & Canada)") ).all.count  %>---  Locations  </li>
            <li><%=	Event.where('updated_at > ?' , Date.yesterday.to_time.in_time_zone("Central Time (US & Canada)") ).count  %>---  Events Updated </li>
            <li><%=	Event.where('created_at > ?' , Date.yesterday.to_time.in_time_zone("Central Time (US & Canada)") ).count  %>---  Events Created </li>
            <li><%=	Venue.where('updated_at > ?' , Date.yesterday.to_time.in_time_zone("Central Time (US & Canada)") ).count  %>---  Venues Updated </li>
            <li><%=	Venue.where('created_at > ?' , Date.yesterday.to_time.in_time_zone("Central Time (US & Canada)") ).count  %>---  Venues Created </li>
            <li><%=	Relationevent.where('updated_at > ?' , Date.yesterday.to_time.in_time_zone("Central Time (US & Canada)") ).count  %>---  Likes a Events </li>

            <p>Totales:</p>
            <li><%= User.where('sign_in_count > ?', 0).count  %>--- Usuarios que se han logueado  </li>
            <li><%= Relationevent.all.count  %>--- Likes a Eventos  </li>
            <li><%= Relationvenue.all.count  %>--- Likes a Venues  </li>
            <li><%=	Location.all.count  %>---  Locations totales  </li>
            <li><%=	Event.all.count  %>---  Eventos Totales  </li>
            <li><%=	Venue.all.count  %>---  Venues Totales  </li>
            <li><%=	Event.where('start_date > ?' , Date.today.to_time.in_time_zone("Central Time (US & Canada)") ).count  %>---  Eventos Futuros</li>
          </ul>
        </td>


      </tr>
      <tr>
        <td class="divider" colspan="2" bgcolor="#555555" height="2"></td>
      </tr>
      <tr class="episode">
        <td>

              <table  cellspacing="0" width="100%">
                <thead>
                <tr>
                  <th> <%=  "Image " %>  </th>
                  <th> <%=  "Count " %>  </th>

                  <th> <%=  "last sign in " %>  </th>
                  <th> <%= "name" %>  </th>
                  <th> <%=  "email" %>  </th>
                </tr>
                </thead>
                <tbody>
                <% User.where('sign_in_count > ?', 0).order(:updated_at => 'DESC').each do |user|	  %>

                <tr>

                          <td><%=	 image_tag(user.image, style: "width:50px")  unless user.image.nil?  %> </td>
                          <td><%=  user.sign_in_count  unless user.sign_in_count.nil?  %> </td>

                          <td><%=	  user.updated_at.to_s(:short)  unless user.last_sign_in_at.nil? %></td>
                          <td><%=	link_to user.name, user %></td>
                          <td><%=  	 user.email  unless user.email.nil? %></td>

                </tr>
                <% end 	  %>

                </tbody>
              </table>
        </td>

    </table>
  </td></tr>
</table>

</body>
</html>