<%	 if signed_in?  %>
    <%	 if Rails.env.development? %>
        <%
          conn = PG.connect(:dbname => 'ntlcom_dev', user: 'Meme', password: 'manumanu')
        %>
    <%	 else %>
        <%
          conn = PG::Connection.new(:dbname => 'd2ofv83e85lbei', :host => 'ec2-184-73-202-229.compute-1.amazonaws.com', :user => 'rhsgfvcgtnszuj', :password => 'NSf6PWeYgHDe2tTnOVHbGSBMUw', :port => '5432', :sslmode => 'disable')
        %>
    <%	 end %>
      <%	friends = ActiveSupport::JSON.decode(open("https://graph.facebook.com/v2.5/#{current_user.uid}/friends?fields=installed,email,picture.width(200).height(200),name&limit=200&access_token=#{current_user.oauth_token}").read) %>
      <%	 i = 1 %>
      <% friends['data'].each do |x|  %>
          <%	 i = 1 + i %>
          <% unless User.exists?(uid: x['id'])   %>
              <%
                conn.prepare(x['id']+i.to_s, 'INSERT INTO users (uid, name, email, image, slug,  provider) values ($1, $2, $3, $4, $5, $6)')
                conn.exec_prepared(x['id']+i.to_s, [ x['id'], x['name'],x['email'],x['picture']['data']['url'], x['name'].parameterize, "facebook" ])
              %>
          <%	 end %>
      <% end %>
    <%	 conn.close %>


    <div class="container">
      <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px; margin-left: -20px; min-height: 500px">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="row" style="margin: 5px -45px 0px -15px !important;">
            <ul class="nav nav-tabs nav-stacked" >
              <li class="active" ><a href="#facebook"  data-toggle="tab"> <i class="fa fa-1x fa-facebook"></i>- Amigos de Facebook </a></li>
            </ul>
          </div>
        </div>


              <div class="col-md-12 col-xs-12" >
                 <% friends['data'].each do |x|  %>
                        <% userx = @users_list.where(uid: x['id']).take %>
                        <% if  x.nil? %>
                            <p>No tienes amigos, invita algunos.</p>
                        <% else  %>
                            <%   unless userx.blank?	            %>

                                <li class="list-inline ">
                                  <div class="col-sm-4 col-md-4 col-lg-3" style="margin: 5px -10px 0px -10px !important;" >
                                    <div id="rowinfo" class="row border" style="padding: 5px 0px 0px 0px !important; ">
                                      <div class="col-md-4" >
                                        <%= link_to image_tag(x['picture']['data']['url'], style: 'height: 40px'), userx %>
                                      </div>
                                      <div class="col-md-8">
                                        <p style="overflow: hidden; margin-bottom: 5px" >
                                          <% namex =	truncate(userx.name, :length => 15)  %>
                                          <%=	link_to namex, userx %>
                                        </p>

                                      </div>
                                      <div class="col-md-12" style="margin-top: -20px">
                                        <hr>
                                        <ul style="margin-left: -30px;  height: 100px !important;" >
                                          <p class="small" style="margin-top: -15px; margin-bottom: 20px"> events que sigue: </p>
                                          <% userx.followed_events.last(2).each do |f|  %>
                                              <li class="img-responsive col-md-6" style="list-style: none; margin: -10px 3px -18px -10px !important;">
                                                <%=link_to(image_tag(f.image, style: "height:100px; max-width: 90px "), f) %>
                                              </li>
                                          <% end %>
                                        </ul>
                                      </div>
                                      <div class="col-md-12" style="margin-top: 15px; margin-bottom: 10px">
                                        <hr>
                                        <% unless current_user?(userx  ) %>
                                            <div id="follow_form<%= userx.id %>">
                                              <% if current_user.following?( userx  ) %>
                                                  <%= render 'unfollow', :@user => userx  %>
                                              <% else %>
                                                  <%= render 'follow', :@user => userx  %>
                                              <% end %>
                                            </div>
                                        <% end %>

                                      </div>
                                    </div>
                                  </div>
                                </li>
                            <% end %>
                        <% end %>
                 <% end %>


              </div>
      </div>


      <%	 unless current_user.email != 'man.m25@gmail.com' %>

          <h1 style="margin-top: 29px">Todas las usuarios</h1>



          <div class="col-md-8 col-lg-offset-2" style="margin-top: 80px">
            <table  class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th> <%= link_to "uid", :sort => "uid" %>  </th>
                <th> <%= link_to "name", :sort => "name" %>  </th>
                <th> <%= link_to "email", :sort => "email" %>  </th>
                <th> <%= link_to "creado ", :sort => "creado" %>  </th>
                <th> <%= link_to "last sign in ", :sort => "last sign in" %>  </th>
                <th> <%= link_to "Count ", :sort => "Count" %>  </th>
                <th> <%= link_to "Editor ", :sort => "Editor" %>  </th>
              </tr>
              </thead>
              <tbody>
              <% @users_list.order(:last_sign_in_at => :asc).each do |x| %>
                  <tr>
                    <td><%=	 x.uid %></td>
                    <td><%=	link_to x.name, x %></td>
                    <td><%=  	 x.email  unless x.email.nil? %></td>
                    <td><%=  	 x.created_at.to_s(:short)  unless x.created_at.nil? %></td>
                    <td><%=	  x.last_sign_in_at.to_s(:short)  unless x.last_sign_in_at.nil? %></td>
                    <td><%=  x.sign_in_count  unless x.sign_in_count.nil?  %> </td>
                    <td class="col-md-2">
                    <%	 if signed_in?  %>
                        <%	 unless current_user.admin != true %>
                            <%= form_for x do |f| %>
                                <%= f.check_box :editor, class: 'form-control col-md-2 ' %>
                                <br>
                                <hr>
                                <%= f.submit "Cambiar", class: "btn btn-primary col-md-12 " %>
                            <% end %>
                        <% end %>
                    <% end %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>


          </div>

      <%	 end %>


      <div >
        <%=	 will_paginate @users%>
      </div>




    </div>
<%	end  %>
