

<title > Lista de eventos de todo el mundo en No Te Limites</title>
<meta name="description" content=" Aquí puedes ver la lista completa de todos los eventos que existen en el mundo. En este lugar no se encuentra acomodados
por ubicación. Para poder verlos por ubiación por favor agrega tu ciudad en el buscador de arriba." >

<%	 if signed_in?  %>
<%	 unless current_user.email != 'man.m25@gmail.com' %>


<div class="container">
    <h1 style="margin-top: 29px">Todos los Eventos en el mundo</h1>


    <div class="col-md-12 " style="margin-top: 80px">

      <div class="col-md-12">
        <hr>
        <%= form_tag events_path, :method => 'get' do %>
            <p>
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "search", :name => nil %>
            </p>
        <% end %>
      </div>

      <hr>
      <div class="col-md-offset-4">
      </div>

      <table  class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th> <%= link_to "id", :sort => "id" %>  </th>
          <th> <%= link_to "name", :sort => "name" %>  </th>
          <th> <%= link_to "date", :sort => "date" %>  </th>
          <th> <%= link_to "uid", :sort => "uid" %>  </th>
          <th> <%= link_to "@category", :sort => "@category" %>  </th>
          <th> <%= link_to "venue_id", :sort => "venue_id" %>  </th>
          <th> Eliminar </th>
          <th> <%= link_to "TM", :sort => "TM" %>  </th>
          <th> <%= link_to "Supplier_id", :sort => "Supplier_id" %>  </th>
          <th> <%= link_to "created_at", :sort => "created_at" %>  </th>
          <th> <%= link_to "updated_at", :sort => "updated_at" %>  </th>
        </tr>
        </thead>
        <tbody>

        <% @events.first(500).each do |x| %>

                        <tr>
                          <td><%=	 x.id %></td>
                          <td><%=	 link_to x.name, x %></td>
                          <td><%=	  x.start_date.to_formatted_s(:short) %></td>
                          <td><%=  link_to(x.uid, "https://www.facebook.com/events/#{x.uid}") %></td>
                          <td><%=	 link_to x.category.name, x %></td>
                          <td><%=	 x.venue_id %></td>
                          <td>   <%= link_to 'Destroy', x,
                                             method: :delete,
                                             data: { confirm: 'Are you sure?' }, style:"margin-left:30px" %></td>
                          <td><%=	 x.tm %></td>
                          <td><%=	 if x.supplier_id then x.supplier.name end %></td>
                          <td><%=	 x.created_at %></td>
                          <td><%=	 x.updated_at %></td>
                        </tr>


         <% end %>
        </tbody>
      </table>
    </div>

</div>

<% end %>
<% end %>