<title>Los mejores eventos cerca de ti en NoTeLimites</title>
<meta name="description" content="Puedes encontrar los mejores eventos cerca de ti, también recibe alertas y gana boletos" >

<% flash.each do |key, value| %>
    <div class="<%= key %>">
      <script>
        ga('send', 'pageview' <%= ", '#{value}'".html_safe %>);
      </script>
    </div>
<% end %>



<div id="bg" style="margin-top: -100px;  ">
  <%= image_tag "https://s3.amazonaws.com/quickplace/images/quickplace.jpg"%>
</div>
<div class="container " style="z-index: -1; margin-bottom: 100px" >
  <div class="col-md-12" style="margin-top: 10%; text-align: center; " >
    <div  style="text-align: center; color: #ffffff  ">
      <div class="col-md-10 col-md-offset-1" style="background-color:rgba(73, 73, 73, 0.80); padding-top: 15px; padding-bottom: 15px; padding-left: 5px; margin-bottom: 50px; border-radius: 10px; ">
        <h1 class="lead">Por favor da click en el siguiente icono para poder cambiar tus preferencias</h1>
        <div class="header-description">
          <div class="text-center  ">
            <i class="icon-facebook-sign"></i>  <%= link_to "Ingresa con Facebook",  user_facebook_omniauth_authorize_path, class: " btn btn-lg btn-primary" %>
          </div><!-- /header-description -->


        </div>

      </div>
    </div>
  </div>
</div>







<script type="text/javascript">
  $(document).ready(function(){
    var input = document.getElementById('searchTextField3');
    var autocomplete = new google.maps.places.Autocomplete(input);
  });
</script>





  <%= form_for(:user, :url => session_path(:user)) do |f| %>
      <%= f.text_field :email %>
      <%= f.password_field :password %>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
      <%= f.submit 'Sign in' %>
      <%= link_to "Forgot your password?", new_password_path(:user) %>
  <% end %>