
<div class="container">

  <%	 if signed_in?  %>
      <%	 unless current_user.email != 'man.m25@gmail.com' %>

        <div class="col-md-12" style="margin-top: 30px">
          <div class="col-md-6" >
            <div class="row border">
              <div class="col-md-8">
                <p class="lead" style="margin-top: 15px;"> Nueva Categoria </p>
              </div>
              <div class="col-md-4" >
                <div class=" border" style="margin-top: 10px; text-align: left !important; padding: 3px; background-color: #f6f6f5 ">
                  <i class=" fa fa-3x fa-check" style="margin-right: 10px; color: #3d5f91 "></i>
                </div>
              </div>
              <div class="col-md-12">
                <hr >
                <ul class="list-inline">
                  <%= form_for(Category.new, :html => {:multipart => true }) do |f| %>
                      <%= render 'shared/error_messages', object: f.object %>
                      <li >
                        <%= f.label :name %>
                        <%= f.text_field :name, :placeholder => "Música", class: 'form-control input-group-sm col-md-12', size: '25' %>
                      </li>
                      </br>
                      <hr>
                      <li >
                        <%= f.submit "Nueva @category", class: "btn btn-large btn-primary" %>
                      </li>
                  <% end %>
                </ul>
              </div>


            </div>
          </div>

        </div>

      <% end %>
  <% end %>



  <div class="col-md-8 col-lg-offset-2 ror border " style="margin-top: 80px">
    <h1 style="margin-top: 29px">Categorías</h1>


    <table  class="table table-striped table-bordered" cellspacing="0" width="100%" style="margin-top: 20px">
      <thead>
      <tr>
        <th> <%= link_to "id", :sort => "id" %>  </th>
        <th> <%= link_to "name", :sort => "name" %>  </th>
        <th> <%= link_to "id change", :sort => "id" %>  </th>

        <th> <%= link_to "change name", :sort => "change" %>  </th>
        <th> <%= link_to "Delete", :sort => "delete" %>  </th>
      </tr>
      </thead>
      <tbody>
      <%	 if signed_in?  %>
       <%	 unless current_user.email != 'man.m25@gmail.com' %>
         <% @categories.each do |category|  %>
                  <tr>
                    <td><%=	 category.id %></td>

                    <td><%=	 link_to category.name, category %></td>
                    <td>
                    <%= form_for(category, :html => { :multipart => true }, class: "col-md-12") do |f| %>
                        <%= render 'shared/error_messages', object: f.object %>
                        <%= f.text_field :id, :placeholder => category.id, class: 'form-control input-group-sm col-md-6' %>
                        <br>
                        <hr>

                        <%= f.submit "Cambiar categoria", class: "btn btn-large btn-primary col-md-12" %>
                    <% end %>

                    </td>
                    <td>
                      <%= form_for(category, class: "col-md-12") do |f| %>
                          <%= render 'shared/error_messages', object: f.object %>
                            <%= f.text_field :name, :placeholder => category.name, class: 'form-control input-group-sm col-md-6' %>
                          <br>
                          <hr>

                            <%= f.submit "Cambiar categoria", class: "btn btn-large btn-primary col-md-12" %>
                      <% end %>

                    </td>
                    <td>   <%= link_to 'Destroy', category,
                                       method: :delete,
                                       data: { confirm: 'Are you sure?' }, style:"margin-left:30px" %></td>
                  </tr>
         <% end %>
       <% end %>
      <% end %>
      </tbody>
    </table>
  </div>

</div>
